<a href="/admin">Voltar</a>
<table id="view">
    <tr>
        <td>Modelo</td>
        <td>Ano</td>
        <td>Cor</td>
        <td>Placa</td>
        <td>Tipo</td>
        <td>Característica</td>
        <td>Diaria</td>
        <td> </td>
    </tr>
    {{#data}}
    <tr>
        <td>{{modelo}}</td>
        <td>{{ano}}</td>
        <td>{{Cor}}</td>
        <td>{{Placa}}</td>
        <td>
            {{#if esportivo}}Esportivo{{/if}}
            {{#if seda}}Sedã{{/if}}
        </td>
        <td>
            {{#if esportivo}}{{velocidade}}{{/if}}
            {{#if seda}}{{passageiros}}{{/if}}
        </td>
        <td>{{diaria}}</td>
        <td>
            <a href="/deletar-carro/{{CodCar}}" class="delete">Deletar</a>
            <a href="/car-update/{{CodCar}}" class="update">Atualizar</a>
        </td>
    </tr>
    {{/data}}
    <tr>
        <td><a href="/cadastro-carro">Adicionar Carro</a></td>
    </tr>
</table>